[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
   // align-content: flex-start;
  }
  .flex-container-2 {
    display: flex;
    flex-direction: column;
   // align-content: flex-start;
    padding-right: 80px;
  }
  
  /* custom styles */
  body {
    padding: 4em;
    background: #e5e5e5;
    font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  }
  label {
    display: block;
  }
  input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
  }
  .container-1 {
    display: flex;
  }
  .container-1 {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
  }
  .btn {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

/* Green */
.success {
    border-color: #4CAF50;
    color: green;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}

.formEmailButton{
    display:inline-block;
    font-weight:500;
    font-size:16px;
    line-height:42px;
    font-family:'Helvetica', Arial, sans-serif;
    width:auto;
    white-space:nowrap;
    height:42px;
    margin:12px 5px 12px 0;
    padding:0 22px;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    border:0;
    border-radius:3px;
    vertical-align:top;
}
.formEmailButton span{
    display:inline;
    font-family:'Helvetica', Arial, sans-serif;
    text-decoration:none;
    font-weight:500;
    font-style:normal;
    font-size:16px;
    line-height:42px;
    cursor:pointer;
    border:none;
}
.rounded6{
    border-radius:6px;
}
.poweredWrapper{
    padding:20px 0;
    width:560px;
    margin:0 auto;
}
.poweredBy{
    display:block;
}
span.or{
    display:inline-block;
    height:32px;
    line-height:32px;
    padding:0 5px;
    margin:5px 5px 0 0;
}
.clear{
    clear:both;
}