<div class="flex-container">
  <div class="flex-container-2">
    <label for="dateofstarting">Kezdő dátum</label>
    <input type="date" name="dateofstarting" id="dateofstarting">
  </div>
  <div class="flex-container-2">
    <label for="dateofending">Vége dátum</label>
    <input type="date" name="dateofending" id="dateofending">
  </div>
  <div >
    <button class="btn success" (click)="onClik()">Success</button>
  </div>

<!--
  <form action="https://1stwebdesigner.us14.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="fd1a2ca8b93f7b32663ec6436">
    <input type="hidden" name="id" value="a9784a9e50">
    

   

  <div class="submit_container clear">
      <input type="submit" class="formEmailButton" name="submit" value="Subscribe to list">
  </div>
  <input type="hidden" name="ht" value="85d9b7ca777335594d3fc02862f11b47ff88fe11:MTUyNjc4NzA3MC4xNjE3">
  <input type="hidden" name="mc_signupsource" value="hosted">
</form>
  -->
